:root{
  --pink: hsl(322, 100%, 66%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: var(--dark-cyan)
}

h1, h2, h3{
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  width: 1200px;
  max-width: 83%;
  margin: 0 auto;
}

.btn-primary{
  display: block;
  /*width: 400px;
  height: 80px;*/
  padding: 30px 105px;
  background-color: var(--pink);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: none;
  border-radius: 100vw;

  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;

  transition: all 100ms;
}

.btn-primary:hover{
  opacity: .9;
}

.btn-secondary{
  display: block;
  padding: 10px 35px;
  background-color: transparent;
  opacity: .9;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid var(--pink);
  border-radius: 100vw;

  color: var(--pink);
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;

  /*transition: all 100ms;*/
}

/*.btn-secondary:hover{
  transform: scale(1.02);
}*/

button:hover{
  cursor: pointer;
}

.text-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}


header{
  text-align: center;
}

header .wrapper{
  width: 1300px;
  max-width: 90%;
}

header .header-bar{
  padding-top: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .text-content{
  margin-top: 230px;

  align-items: center;
}

header h1{
  font-size: 48px;
}

header p{
  width: 45%;
  margin-top: 20px;

  word-spacing: 1px;
}
header .btn-primary{
  margin-top: 50px;
}

header img:last-child{
  width: 78%;
  margin-top: 115px;
}


.stats{
  padding-top: 125px;

}

.stats .wrapper{
  display: flex;
  justify-content: space-around;
}

.stats h3{
  font-size: 96px;
}

.stats p{
  font-size: 24px;
  opacity: .7;
  text-align: center;
}


.boxes{
  padding-top: 140px;
}

.boxes .box{
  position: relative;
}

.boxes .box:nth-child(odd){
  background-color: var(--pale-blue);
}

.boxes .box .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxes .text-content{
  width: 50%;
  padding-left: 10px;
  padding-right: 55px;
}

.boxes .box:nth-child(even) .text-content{
  order: 2;
  padding-left: 60px;
  padding-right: 55px;
}

.box:nth-child(even) img{
  order: 1;
}

.boxes h2{
  width: 100%;
  font-size: 40px;
}

.boxes p{
  margin-top: 20px;
}

.boxes img{
  width: 43%;
}

.box:nth-child(1){
  margin-top: 165px;
  margin-bottom: 139px;
}

.box:nth-child(1)::before{
  display: block;
  content: '';
  position: absolute;
  top: -165px;
  left: 0;
  min-height: 165px;
  width: 100%;
  background-image: url('../images/bg-section-top-desktop-1.svg');
  background-size: cover;
}

.box:nth-child(1)::after{
  display: block;
  content: '';
  position: absolute;
  bottom: -139;
  left: 0;
  min-height: 139px;
  width: 100%;
  background-image: url('../images/bg-section-bottom-desktop-1.svg');
  background-size: cover;
}

.box:nth-child(2){
  padding-top: 190px;
  padding-bottom: 110px;
}

.box:nth-child(3){
  margin-top: 156px;
  margin-bottom: 139px;
}

.box:nth-child(3)::before{
  display: block;
  content: '';
  position: absolute;
  top: -156px;
  left: 0;
  min-height: 156px;
  width: 100%;
  background-image: url('../images/bg-section-top-desktop-2.svg');
  background-size: cover;
}

.box:nth-child(3)::after{
  display: block;
  content: '';
  position: absolute;
  bottom: -139;
  left: 0;
  min-height: 139px;
  width: 100%;
  background-image: url('../images/bg-section-bottom-desktop-2.svg');
  background-size: cover;
}


.cta{
  padding-top: 175px;
  padding-bottom: 175px;
  text-align: center;
}

.cta h2{
  font-size: 40px;
}

.cta .btn-primary{
  margin: 50px auto 0;
}

footer{
  margin-top: 158px;
  padding-top: 130px;
  padding-bottom: 100px;
  background-color: var(--dark-cyan);
  color: #eee;
  position: relative;
}

footer .wrapper{
  display: flex;
  justify-content: space-between;
}

footer .info{
  width: 50%;
}

footer .info p{
  width: 55%;
  margin-top: 30px;
  line-height: 1.4;
  font-size: 14px;
}

footer ul{
  margin-top: 35px;
  list-style-type: none;
}

footer li:first-child{
  margin-bottom: 25px;
}

footer li img{
  margin-right: 10px;
}

footer .socials{
  margin-top: 80px;
  font-size: 32px;
}

footer .socials i:hover{
  cursor: pointer;
}

footer .newsletter-form{
  width: 50%;
  padding-left: 80px;
}

footer .newsletter-form h3{
  text-transform: uppercase;
  font-size: 24px;
}

footer .newsletter-form p{
  margin-top: 25px;
  width: 65%;
  line-height: 1.4;
  font-size: 14px;
}

footer form{
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer input{
  width: 320px;
  height: 48px;
  border-radius: 7px;
  border: none
}

footer button{
  width: 160px;
  height: 50px;
  background-color: var(--pink);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

footer::before{
  display: block;
  content: '';
  position: absolute;
  top: -158px;
  left: 0;
  min-height: 158px;
  width: 100%;
  background-image: url('../images/bg-footer-top-desktop.svg');
  background-size: cover;
}


@media (max-width: 768px) {
  .wrapper{
    width: 90%;
  }

  .btn-primary{
    font-size: 14px;
    padding: 15px 50px;
  }

  .btn-secondary{
    font-size: 14px;
    padding: 5px 20px;
  }

  header .header-bar{
    padding-top: 40px;
  }

  header .header-bar img{
    width: 33%;
  }

 header .text-content{
   margin-top: 115px;
 }

  header h1{
    font-size: 28px;
  }

  header p {
    width: 100%;
  }

  header img:last-child{
    width: 100%;
  }


  .stats .wrapper{
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .stats .stat{
    width: 60%;
  }

  .stats img{
    width: 15%;
  }

  .stats h3{
    font-size: 56px;
  }

  .stats p{
    font-size: 18px;
  }


  .boxes .wrapper{
    flex-direction: column;
  }

  .boxes .text-content{
    order: 2;
    width: 100%;
    padding: 0 !important;
    text-align: center;
    margin-top: 50px;
  }

  .boxes h2{
    font-size: 22px;
  }

  .boxes img{
    order: 1;
    width: 100%;
  }

  .cta h2{
    font-size: 24px;
  }

  footer .wrapper{
    flex-direction: column;
    gap: 80px;
  }

  footer .info{
    order: 2;
    width: 100%;
  }

  footer .info p{
    width: 100%;
  }

  footer .newsletter-form{
    order: 1;
    width: 100%;
    padding: 0;
  }

  footer .newsletter-form p{
    width: 100%;
  }

  footer form{
    flex-direction: column;
  }

  footer input{
    width: 100%;
  }

  footer button{
    align-self: flex-end;
    margin-top: 15px;
  }

  .box:nth-child(1){
    margin-top: 112px;
    margin-bottom: 52px;
    padding: 50px 0;
  }

  .box:nth-child(1)::before{
    top: -112px;
    min-height: 112px;
    background-image: url('../images/bg-section-top-mobile-1.svg');
  }

  .box:nth-child(1)::after{
    bottom: -52px;
    min-height: 52px;
    background-image: url('../images/bg-section-bottom-mobile-1.svg');
  }

  .box:nth-child(3){
    margin-top: 103px;
    margin-bottom: 101px;
    padding: 50px 0;
  }

  .box:nth-child(3)::before{
    top: -103px;
    min-height: 103px;
    background-image: url('../images/bg-section-top-mobile-2.svg');
  }

  .box:nth-child(3)::after{
    bottom:  -101px;
    min-height: 101px;
    background-image: url('../images/bg-section-bottom-mobile-2.svg');
  }

  footer{
    margin-top: 53px;
    padding-top: 65px;
  }

  footer::before{
    top: -53px;
    min-height: 53px;
    background-image: url('../images/bg-footer-top-mobile.svg');
  }
}
